body{
  background-color: rgb(9, 131, 117);
}
*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 60px;
  background-color: #fff;
}
 header h1{
  padding-top: 10px;
  margin-left: 30px;
 }
 .cc{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
  height: 200px;
 }
 .cc h4{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 9px;
 }
 .cc h1{
  font-family:monospace;
  margin-bottom: 9px;
  color: #fff;
  letter-spacing: 1px;
 }
 .cc a{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  width: 20%;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 19px;
  padding: 6px;
  transition: 0.6s ease;
  scroll-behavior: smooth;
 }
 .cc a:hover{
  transform: scale(1.1);
 }
 .ee a{
  color: #fff;
  font-size: 1.2em;
  background-color: rgb(9, 131, 117);
  border: none;
 }

 @media (max-width:450px){
  header{
    height: 90px;
    text-align: center;
    padding-top: 40px;
  }
  .cc{
    width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
  height: 600px;
  }
  .cc h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    font-size: 40px;
   }
   .cc h1{
    font-family:monospace;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 60px;
   }
   .cc a{
    border: 1px solid black;
    border-radius: 30px;
    background-color: black;
    color: #fff;
    width: 40%;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 15px;
    transition: 0.6s ease;
    scroll-behavior: smooth;
    font-size: 40px;
   }
   .cc a:hover{
    transform: scale(1.1);
   }
   .ee a{
    color: #fff;
    font-size: 2.5em;
    background-color: rgb(9, 131, 117);
    border: none;
   }

}